#directories
wandb/**
cache/**
separated_sets/**
!separated_sets/*
separated_sets/.*
*.swp
python_files/__pycache__/*
.ipynb_checkpoints/


#files
slurm-*.out
*.smi
*.tar.gz
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.h5

#GNINA Comparison
GNINA_RUN/*

#external test sets
external_test/*/*DDG_?TT.types

#model files
!models/**/*.tar.gz
models/full_train/**/*.tar

