#directories
wandb/**
cache/**
separated_sets/**
!separated_sets/*
separated_sets/.*
*.swp
python_files/__pycache__/*


#files
slurm-*.out
*.smi
*.tar.gz
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

#external test sets
external_tests/*/*_DDG_?TT.types
